<section>
    <aside id="leftsidebar" class="sidebar">
        <div class="user-info">
            <div class="image">
                <img src={{photo}} width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{fullname|title}}
                </div>
                <div class="email">{{username}} ({{role}})</div>
            </div>
        </div>
        <div class="menu">
            <ul class="list">
                {% if active == 'dashboard' %}
                <li class='active'>
                {% else %}
                <li>
                {% endif %}
                    <a href={% url 'student_management:dashboard' %}>
                        <i class="material-icons">dashboard</i>
                        <span>DASHBOARD</span>
                    </a>
                </li>
                {% if role == 'admin' %}
                {% if active == 'list_user' or active == 'add_user' %}
                <li class='active'>
                {% else %}
                <li>
                {% endif %}
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">assignment_ind</i>
                        <span>USER</span>
                    </a>
                    <ul class="ml-menu">
                        {% if active == 'list_user' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:list_user' %}>List of User</a>
                        </li>
                        {% if active == 'add_user' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:add_user' %}>Add User</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if role != 'student' %}
                {% if active == 'list_student' or active == 'add_student' %}
                <li class='active'>
                {% else %}
                <li>
                {% endif %}
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">school</i>
                        <span>STUDENT</span>
                    </a>
                    <ul class="ml-menu">
                        {% if active == 'list_student' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:list_student' %}>List of Student</a>
                        </li>
                        {% if active == 'add_student' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:add_student' %}>Add Student</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
                {% if role != 'student' %}
                {% if active == 'list_teacher' or active == 'add_teacher' %}
                <li class='active'>
                {% else %}
                <li>
                {% endif %}
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">groups</i>
                        <span>TEACHER</span>
                    </a>
                    <ul class="ml-menu">
                        {% if active == 'list_teacher' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:list_teacher' %}>List of Teacher</a>
                        </li>
                        {% if active == 'add_teacher' %}
                        <li class='active'>
                        {% else %}
                        <li>
                        {% endif %}
                            <a href={% url 'student_management:add_teacher' %}>Add Teacher</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </aside>
</section>