{% extends 'student_management/base.html' %}
    {% block navbar %}
        {% include 'student_management/navbar.html' with active='list_lesson' %}
    {% endblock  %}

    {% block content %}
            <div class="block-header">
                <h2>LIST OF LESSONS</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="table-responsive js-sweetalert">
                                <table id="dataTables" class="table table-bordered table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Teacher</th>
                                            <th>Add/Update Score</th>
                                            <th>Student List</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Teacher</th>
                                            <th>Add/Update Score</th>
                                            <th>Student List</th>
                                            <th>Update</th>
                                            <th>Delete</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for lesson in lessons %}
                                        <tr>
                                            <td>{{lesson.name|title}}</td>
                                            <td>{{lesson.teacher.name}}</td>
                                            <td>
                                                <a href={% url 'student_management:add_score' lesson.id %}>
                                                    <button type="button" class="btn btn-info waves-effect">
                                                        <i class="material-icons">playlist_add</i>
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href={% url 'student_management:detail_student' lesson.id %}>
                                                    <button type="button" class="btn btn-success waves-effect">
                                                        <i class="material-icons">zoom_in</i>
                                                    </button>
                                                </a>
                                            </td>
                                            <td>
                                                <a href={% url 'student_management:update_lesson' lesson.id %}>
                                                    <button type="button" class="btn btn-primary waves-effect">
                                                        <i class="material-icons">mode_edit</i>
                                                    </button>
                                                </a>
                                            </td>
                                            <td> 
                                                <button type="button" onclick='deleteLesson({{lesson.id}},"{{lesson.name}}")' class="btn btn-danger waves-effect">
                                                    <i class="material-icons">delete</i>
                                                </button>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <script>
            function deleteLesson(lessonId, name){
                swal({
                    title: "Are you sure?",
                    text: `Once deleted ${name}, you will not be able to recover this lesson!`,
                    icon: "warning",
                    buttons: {
                        cancel: {
                            text: "Cancel",
                            value: null,
                            visible: true,
                            className: "",
                            closeModal: true,
                            },
                        confirm: {
                            text: "Delete Lesson",
                            value: true,
                            visible: true,
                            className: "",
                            closeModal: true
                        }
                    },
                    dangerMode: true,
                    })
                    .then((willDelete) => {
                    if (willDelete) {
                        swal("Poof! Lesson has been deleted!", {
                        icon: "success",
                        }).then(()=> post('/lesson/delete-lesson/', lessonId))
                    } else {
                        swal(`Delete aborted, lesson ${name} is safe!`,{
                        icon: "error",
                        });
                    }
                    });
           }

            function post(path, value, method='POST') {
                const form = document.createElement('form');
                form.method = method;
                form.action = path;

                const hiddenField = document.createElement('input');
                hiddenField.type = 'hidden';
                hiddenField.name = 'delete_lesson';
                hiddenField.value = value;
                
                const csrfField = document.createElement('input');
                csrfField.type = 'hidden';
                csrfField.name = 'csrfmiddlewaretoken';
                csrfField.value = '{{csrf_token}}';

                form.appendChild(hiddenField);
                form.appendChild(csrfField);

                document.body.appendChild(form);
                form.submit();
            }
        </script>
    {% endblock  %}