{% extends 'student_management/base.html' %}
    {% block navbar %}
        {% include 'student_management/navbar.html' with active='list_student' %}
    {% endblock  %}

    {% block content %}
        <div class="block-header">
            <h2>ADD LESSONS TO {{student.name|upper}} {{student.surname|upper}}</h2>
        </div>
        
        <form method='POST'>
            {% csrf_token %}
            {% if success %}
            <div class="alert bg-green alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                {{success}}
            </div>
            {% endif %}
            
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="body">
                            <div class="form-group form-float">
                                <label>Lesson Name</label>
                                {% for lesson in lessons %}
                                    <div class="form-line">
                                        <input type="checkbox" id={{lesson.id}} name='{{lesson.id}}' value="{{lesson.id}}" >
                                        <label for={{lesson.id}}>{{lesson.name}}</label>
                                    </div>   
                                {% endfor %}
                            </div>
                            {% if warning %}
                            <div class="alert bg-red alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>    
                                {{warning}}
                            </div>
                            {% endif %}
                            <a style='color:black' class="btn btn-grey waves-effect" href={% url 'student_management:list_student' %}>CANCEL</a>
                            <input type="submit" class="btn btn-primary waves-effect" value="ADD">
                        </div>
                    </div>
                </div>
            </div>
        </form>
          
    {% endblock  %}